body {
    margin: 0;
}

header {
    padding: 24px 16px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

header+* {
    margin-top: 80px;
}

section {
    padding: 100px 0;
}

footer {
    padding: 80px 0 0;
    margin: 0 auto;
}

.bg-primary {
    background-color: #18bc9c;
    text-align: center;
    /* padding: 100px 0 96px;  */
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
}

.bg-primary h1 {
    font-size: 50px;
}

.bg-primary h3 {
    font-size: 28px;
}

.bg-secondary {
    background-color: #2c3e50;
}

.container {
    text-align: center;
    font-size: 0;
    width: 80%;
    padding: 100px 30px;
    margin: 0 auto;
}

.rubric {
    margin: 0;
    text-transform: uppercase;
    font-size: 50px;
    color: #2c3e50;
}

.main-nav {
    list-style: none;
}

.main-nav .nav-link:hover,
.main-nav .nav-link:focus {
    color: #18bc9c;
}

.main-nav>li {
    display: inline-block;
    margin: 0 10px;
}

.logo>a {
    font-size: 28px;
}

.nav-link {
    font-size: 16px;
    font-family: "Arial";
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
}

.logo,
nav {
    display: inline-block;
}

nav {
    float: right;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.portfolio-item {
    display: inline-block;
    width: 30%;
    position: relative;
    margin: 0 30px 30px 0;
}

.portfolio-item img {
    width: 100%;
    height: auto;
}

.pi-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #18bc9c;
    opacity: 0;
}

.portfolio-item:hover .pi-overlay,
.portfolio-item:focus .pi-overlay {
    opacity: .65;
}

.pi-overlay>.fa {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 32px;
    height: 32px;
    font-size: 32px;
    color: #ffffff;
    margin: auto;
}

.about {
    background: #18bc9c;
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    color: white;
    padding: 30px 0;
}

.about p {
    display: inline-block;
    width: 35%;
    margin: 20px 35px 50px;
    text-align: justify;
    font-size: 20px;
    text-transform: none;
}

.button {
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 15px 28px;
    border: 2px solid white;
    border-radius: 4px;
}

.button:hover {
    border-color: white;
    background-color: white;
    color: #2c3e50;
    transition: .2s;
}

.nav-link:hover {
    border-color: white;
    background-color: white;
}

.bg-secondary {
    margin: 0;
}

.bg-secondary .late {
    padding: 120px 0;
    width: 100%;
    position: relative;
}

.bg-secondary .first-column,
.bg-secondary .second-column,
.bg-secondary .third-column {
    display: inline-block;
    width: 30%;
    position: absolute;
    color: #ffffff;
    text-align: center;
}

.bg-secondary .first-column {
    top: 0;
    left: 15%;
}

.location,
.atw,
.ab-free {
    margin: 0;
    text-transform: uppercase;
}

.bg-secondary .first-column .info {
    display: block;
    text-transform: none;
}

.bg-secondary .second-column {
    top: 0%;
    left: 34%;
    text-align: center;
}

.bg-secondary .second-column ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.bg-secondary .second-column li {
    display: inline-block;
    padding-top: 35px;
}

.bg-secondary .second-column a {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    border: 2px solid white;
    border-radius: 50%;
    padding: 8px 12px;
    margin: 0 5px 0 0;
}

.bg-secondary .third-column {
    top: 0;
    right: 15%;
    width: 23%;
}

.bg-secondary .third-column p {
    margin: 0;
    padding-top: 15px;
}

.bg-secondary .third-column a {
    color: #18bc9c;
    padding: 0;
}